/* import major sass files */

@import "sass/variables";
@import "sass/mixins";
@import "sass/breakpoints";
@import "sass/buttons";

/* Start Global rules */

/* reusable components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellow-color: #ffcc01;
  --main-color: #1f373d;
  --second-color: #919eb1;
  --background-white: #fff;
  --background-dark: #f6f5f4;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

button {
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}
/* end global rules */

/* ===== Manual Responsive layout ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive layout ===== */

.special-heading {
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
    background-color: white;
  }
}

.main-heading {
  text-align: left;
  width: 40%;
  h2 {
    font-size: 40px;
    padding-bottom: 25px;
  }
  p {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
}

/* reusable components */

/* start header */
header {
  height: 70px;
  background-color: var(--background-white);
  .container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding: 25px 0;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: capitalize;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        &:nth-of-type(6) {
          padding-left: 100px;
        }
      }
    }
    a {
      display: block;
      margin: 12px 2px 0 2px;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      padding: 15px;
      color: var(--main-color);
      border-radius: 5px;
      transition: $mainTransition;
      &.active,
      &:hover {
        background-color: var(--yellow-color);
      }
    }
    @include mobileandMedium {
      display: none;
    }
  }
}
.help {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end header */

/* start hero area */
.hero-area {
  position: relative;
  background-image: url("../img/landing01.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
  .overlay {
    @include overlay;
    background-color: rgba(255, 255, 255, 0.4);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: var(--background-white);
    @include mobile {
      width: 0%;
    }
  }
  .hero-details {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    .hero-text {
      width: 60%;
      color: var(--main-color);
      @include mobile {
        width: 100%;
        text-align: center;
      }
      h1 {
        font-size: 48px;
      }
    }
  }
  .head-contact {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    width: 35%;
    background-color: var(--yellow-color);
    color: var(--main-color);
    padding: 15px 10px;
    @include mobile {
      width: 100%;
    }
    i {
      color: var(--background-white);
      font-size: 32px;
    }
  }
}
form {
  display: flex;
  position: relative;
  &:hover i {
    transform: rotate(360deg) scale(1.1);
  }
  i {
    position: absolute;
    color: var(--second-color);
    top: 40%;
    left: 10px;
    cursor: pointer;
    transition: $mainTransition;
  }
  .main-input {
    padding: 25px 65px 25px 45px;
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 400px;
    @include mobile {
      width: 90%;
    }
  }
  input[type="submit"] {
    background-color: var(--yellow-color);
    color: var(--main-color);
    width: 120px;
    border: transparent;
    padding: 25px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0 5px 5px 0;
  }
}

/* end hero area */

/* start stats */

.stats {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 100px;
    .stats-text {
      p {
        margin-top: 30px;
        line-height: 1.5;
      }
    }
    .stats-boxes {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
    span {
      align-content: stretch;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 160px;
      height: 180px;
      background-color: var(--background-dark);
      h3 {
        color: var(--yellow-color);
        font-size: 28px;
        margin-bottom: 10px;
      }
      h4 {
        color: var(--main-color);
      }
    }
  }
}

/* end stats */

/* start rent */
.rent {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  background-color: var(--background-dark);
  .rent-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px 30px;
    margin: 40px 0 60px 0;
    .rent-box img {
      height: 400px;
    }
  }
}

/* end rent */

/* start how */

.how {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .how-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 30px;
    .how-box {
      color: var(--main-color);
      position: relative;
      margin: 50px 0;
      padding: 90px 30px 50px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: $mainTransition;
      box-shadow: 1px 1px 10px 1px #eeeff1;
      overflow: hidden;
      &:nth-of-type(1):before {
        content: "01";
      }
      &:nth-of-type(2):before {
        content: "02";
      }
      &:nth-of-type(3):before {
        content: "03";
      }
      &:before {
        position: absolute;
        top: -62px;
        left: -45px;
        color: var(--main-color);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        font-size: 140px;
        font-weight: 800;
      }
      &:hover {
        background-color: var(--yellow-color);
        color: var(--background-white);
        &:before {
          color: var(--background-white);
        }
        & a {
          color: var(--background-white);
        }
      }
      h4 {
        text-transform: capitalize;
        padding: 15px 10px;
        font-size: 18px;
      }
      p {
        padding: 10px 25px 30px;
        font-size: 13px;
        line-height: 1.8;
      }
      a {
        display: block;
        padding-left: 29px;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}
/* end how */

/* start services */
.services {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
  }
}
/* end services */

/* start agent */
.agents {
  .agent-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    .agent-box img {
      height: 400px;
    }
  }
}
/* end agent */
