/* import major sass files */
/* idenity color */
/** experimental grid mixins **/
/** experimental grid mixins **/
/** experimenta responsive breakpoints **/
/* Start Global rules */
/* reusable components */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellow-color: #ffcc01;
  --main-color: #1f373d;
  --second-color: #919eb1;
  --background-white: #fff;
  --background-dark: #f6f5f4;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

button {
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}

/* end global rules */
/* ===== Manual Responsive layout ===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ===== Manual Responsive layout ===== */
.special-heading:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.special-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
  background-color: white;
}

.main-heading {
  text-align: left;
  width: 40%;
}

@media (max-width: 767px) {
  .main-heading {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

.main-heading h2 {
  font-size: 40px;
}

@media (max-width: 767px) {
  .main-heading h2 {
    font-size: 36px;
  }
}

.main-heading p {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
}

/* reusable components */
/* start header */
header {
  height: 70px;
  background-color: var(--background-white);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  padding: 25px 0;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: capitalize;
}

header nav {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav ul li:nth-of-type(6) {
  padding-left: 100px;
}

@media (max-width: 1199px) {
  header nav ul li:nth-of-type(6) {
    padding-left: 0;
  }
}

header nav a {
  display: block;
  margin: 12px 2px 0 2px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px;
  color: var(--main-color);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header nav a.active, header nav a:hover {
  background-color: var(--yellow-color);
}

@media (max-width: 1199px) {
  header nav a {
    margin: 15px 2px 0 2px;
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  header nav {
    display: none;
  }
}

header nav.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  text-align: center;
  z-index: 9;
}

header .menu-toggle {
  color: var(--main-color);
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  z-index: 9;
}

@media (max-width: 1199px) {
  header .menu-toggle {
    display: block;
  }
}

header .menu-toggle i:nth-child(1) {
  display: block;
}

header .menu-toggle i:nth-child(2) {
  display: none;
}

header .menu-toggle.active i:nth-child(1) {
  display: none;
}

header .menu-toggle.active i:nth-child(2) {
  display: block;
}

/* end header */
/* start hero area */
.hero-area {
  position: relative;
  background-image: url("../img/landing01.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
}

.hero-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.hero-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: var(--background-white);
}

@media (max-width: 767px) {
  .hero-area::before {
    width: 0%;
  }
}

.hero-area .hero-details {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.hero-area .hero-details .hero-text {
  width: 60%;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .hero-area .hero-details .hero-text {
    width: 100%;
    text-align: center;
  }
}

.hero-area .hero-details .hero-text h1 {
  font-size: 48px;
}

.hero-area .head-contact {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  width: 40%;
  background-color: var(--yellow-color);
  color: var(--main-color);
  padding: 15px 10px;
}

@media (max-width: 767px) {
  .hero-area .head-contact {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-area .head-contact {
    width: 50%;
  }
}

.hero-area .head-contact i {
  color: var(--background-white);
  font-size: 32px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

form:hover i {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

form i {
  position: absolute;
  color: var(--second-color);
  top: 40%;
  left: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

form .main-input {
  padding: 25px 65px 25px 45px;
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 400px;
}

form .main-input:focus {
  outline: none;
}

@media (max-width: 767px) {
  form .main-input {
    width: 90%;
  }
}

form input[type="submit"] {
  background-color: var(--yellow-color);
  color: var(--main-color);
  width: 120px;
  border: transparent;
  padding: 25px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0 5px 5px 0;
}

/* end hero area */
/* start stats */
.stats {
  padding-top: 50px;
  padding-bottom: 50px;
}

.stats main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 767px) {
  .stats main {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.stats main .stats-text p {
  margin-top: 30px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .stats main .stats-text p {
    font-size: 15px;
    text-align: center;
  }
}

.stats main .stats-boxes {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  place-items: center;
  row-gap: 40px;
}

@media (max-width: 767px) {
  .stats main .stats-boxes {
    margin-top: 50px;
  }
}

.stats main span {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: var(--background-dark);
}

@media (max-width: 767px) {
  .stats main span {
    width: 130px;
    height: 130px;
  }
}

.stats main span h3 {
  color: var(--yellow-color);
  font-size: 28px;
}

.stats main span h4 {
  color: var(--main-color);
}

/* end stats */
/* start rent */
.rent {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--background-dark);
}

.rent .rent-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, auto));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px 30px;
  margin: 40px 0 60px 0;
}

.rent .rent-items figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rent .rent-items figure figcaption {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17%;
  padding: 15px;
}

.rent .rent-items figure figcaption h4 {
  font-size: 15px;
  padding-bottom: 15px;
}

.rent .rent-items figure figcaption .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rent .rent-items figure figcaption .details .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rent .rent-items figure figcaption .details span {
  color: var(--yellow-color);
  font-weight: 800;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
}

.rent .rent-items figure figcaption .details p {
  font-size: 13px;
  color: var(--second-color);
  margin-left: 10px;
}

.rent .rent-items figure figcaption .details i {
  color: var(--second-color);
  margin-left: 10px;
}

/* end rent */
/* start how */
.how {
  padding-top: 50px;
  padding-bottom: 50px;
}

.how .how-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 30px;
}

.how .how-items .how-box {
  color: var(--main-color);
  position: relative;
  margin: 50px 0;
  padding: 90px 30px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 1px 1px 10px 1px #eeeff1;
          box-shadow: 1px 1px 10px 1px #eeeff1;
  overflow: hidden;
}

.how .how-items .how-box:nth-of-type(1):before {
  content: "01";
}

.how .how-items .how-box:nth-of-type(2):before {
  content: "02";
}

.how .how-items .how-box:nth-of-type(3):before {
  content: "03";
}

.how .how-items .how-box:before {
  position: absolute;
  top: -62px;
  left: -45px;
  color: var(--main-color);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 140px;
  font-weight: 800;
}

.how .how-items .how-box:hover {
  background-color: var(--yellow-color);
  color: var(--background-white);
}

.how .how-items .how-box:hover:before {
  color: var(--background-white);
}

.how .how-items .how-box:hover a {
  color: var(--background-white);
}

.how .how-items .how-box h4 {
  text-transform: capitalize;
  padding: 15px 10px;
  font-size: 18px;
}

.how .how-items .how-box p {
  padding: 10px 25px 30px;
  font-size: 13px;
  line-height: 1.8;
}

.how .how-items .how-box a {
  display: block;
  padding-left: 29px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}

/* end how */
/* start services */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.services .service-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .services .service-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services .service-content figure {
  margin: 20px 0;
  width: 50%;
}

@media (max-width: 991px) {
  .services .service-content figure {
    width: 100%;
  }
}

.services .service-content .service-text {
  width: 45%;
}

@media (max-width: 991px) {
  .services .service-content .service-text {
    width: 100%;
  }
}

.services .service-content .service-text p {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 25px;
}

/* end services */
/* start agent */
.agents {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--background-dark);
}

.agents .agent-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, auto));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.agents .agent-items figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agents .agent-items figure figcaption {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17%;
  padding: 15px;
}

.agents .agent-items figure figcaption h4 {
  font-size: 15px;
  padding-bottom: 15px;
}

.agents .agent-items figure figcaption .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agents .agent-items figure figcaption .details span {
  color: var(--yellow-color);
  text-transform: capitalize;
  font-weight: 800;
}

.agents .agent-items figure figcaption .details i {
  color: var(--main-color);
  margin-left: 15px;
}

/* end agent */
/* start add */
.add {
  padding-top: 50px;
  padding-bottom: 50px;
}

.add article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.add article:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .add article:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .add article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.add article figure {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.add article .text-box {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.add article .text-box h3 {
  padding-top: 20px;
  font-size: 25px;
}

.add article .text-box p {
  font-size: 13px;
  line-height: 1.8;
}

/* end add*/
/* footer */
footer {
  padding-top: 50px;
  background-color: var(--main-color);
  color: var(--background-white);
}

footer .hero-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  footer .hero-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .hero-footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -50px;
  left: 0;
  background-color: var(--second-color);
}

@media (max-width: 767px) {
  footer .hero-footer .main-heading {
    width: 80%;
  }
}

footer form .main-input {
  width: 450px;
  padding: 15px 45px 15px 25px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  footer form .main-input {
    width: 100%;
  }
}

footer .footer-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  footer .footer-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-lists h4 {
  font-size: 25px;
  font-weight: 400;
  text-transform: lowercase;
}

footer .footer-lists .footer-sec {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  margin-bottom: 50px;
}

footer .footer-lists .footer-sec:nth-of-type(1) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .footer-lists .footer-sec:nth-of-type(1) p {
  font-size: 13px;
}

footer .footer-lists .footer-sec h5 {
  color: var(--second-color);
  text-transform: uppercase;
  padding-bottom: 15px;
}

footer .footer-lists .footer-sec a {
  display: block;
  font-size: 13px;
  text-transform: capitalize;
  color: var(--background-white);
  padding: 10px 0;
}

/* footer */
/*# sourceMappingURL=style.css.map */