/* idenity color */

$mainColor: #19c8fa;
$mainTransition: 0.5s;
$darkerBackground: #fafafa;
$footerBackground: #2c4755;
$headingColor: #eaeaea;
$sectionPadding: 50px 0 0 0;
$contentMargin: 50px 0 0 0;
