/* ===== Manual Responsive layout ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive layout ===== */

/** experimenta responsive breakpoints **/

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobileandMedium {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin mediumScreens {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin mediumandLarge {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lgScreens {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin uptoLarge {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin medium_and_large {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin xlScreens {
  @media (min-width: 1200px) {
    @content;
  }
}

// version 1.30
