/* footer */
footer {
  padding-top: $sectionPadding;
  background-color: var(--main-color);
  color: var(--background-white);
  .hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    @include mobile {
      flex-direction: column;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -50px;
      left: 0;
      background-color: var(--second-color);
    }
    .main-heading {
      @include mobile {
        width: 80%;
      }
    }
  }
  form {
    .main-input {
      width: 450px;
      padding: 15px 45px 15px 25px;
      border-radius: 5px;
      @include mobile {
        width: 100%;
      }
    }
  }
  .footer-lists {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
    h4 {
      font-size: 25px;
      font-weight: 400;
      text-transform: lowercase;
    }
    .footer-sec {
      flex-basis: 1;
      margin-bottom: 50px;

      &:nth-of-type(1) {
        flex-basis: 30%;
        p {
          font-size: 13px;
        }
      }
      h5 {
        color: var(--second-color);
        text-transform: uppercase;
        padding-bottom: 15px;
      }
      a {
        display: block;
        font-size: 13px;
        text-transform: capitalize;
        color: var(--background-white);
        padding: 10px 0;
      }
    }
  }
}
/* footer */
