/* start scroll to top */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: -100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 36px;
  color: var(--yellow-color);
  transition: $mainTransition;
  &:hover {
    transform: translateY(-20px);
  }
  &.active {
    right: 25px;
  }
}

/* end scroll to top */
