@use "../components/variables" as *;
@use "../components/mixins" as *;
@use "../components/breakpoints" as *;
@use "../components/buttons" as *;

/* start agent */
.agents {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  background-color: var(--background-dark);
  .agent-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, auto));
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    figure {
      position: relative;
      display: flex;
      figcaption {
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 17%;
        padding: 15px;

        h4 {
          font-size: 15px;
          padding-bottom: 15px;
        }
        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: var(--yellow-color);
            text-transform: capitalize;
            font-weight: 800;
          }
          i {
            color: var(--main-color);
            margin-left: 15px;
          }
        }
      }
    }
  }
}
/* end agent */
