@use "../components/variables" as *;
@use "../components/mixins" as *;
@use "../components/breakpoints" as *;
@use "../components/buttons" as *;

/* Start Global rules */

/* reusable components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellow-color: #ffcc01;
  --main-color: #1f373d;
  --second-color: #919eb1;
  --background-white: #fff;
  --background-dark: #f6f5f4;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.img-fluid {
  max-width: 100%;
}

button {
  background-color: #fff;
  padding: 7px 20px;
  margin-top: 25px;
  cursor: pointer;
}
/* end global rules */

.special-heading {
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
    background-color: white;
  }
}

.main-heading {
  text-align: left;

  width: 40%;
  @include mobile {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  h2 {
    font-size: 40px;
    @include mobile {
      font-size: 36px;
    }
  }
  p {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 600;
  }
}

h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
}

/* reusable components */
